.input
{
    margin-top: 5px;
    margin-left: 10px;
}
.row
{
    margin-top: 0px;
}
.basic
{
    font: 1.3em sans-serif;
    padding: 5px;
}
.add{
    margin-left: 10px;
    margin-bottom: 20px;
}
.x
{
    margin-left: 10px;
}
